<container>
  <row class="footer-top">
    <columns small="6" large="6">
      <row>
        <columns small="6" large="2">
          <img
          class="project-logo"
            src="https://i.imgur.com/8OMciux.png"
            alt="image of app logo"
          />
        </columns>
        <columns large="10">
          <span class="call-to-action">Download the app</span></br>
          <span class="info">Cheap flights, hotels, and more...</span>
        </columns>
      </row>
    </columns>

    <columns small="6" large="6">
      <row>
        <columns small="12" large="6">
          <img
          class="app-store"
            src="https://i.imgur.com/3Ik7MtB.png"
            alt="image of app-store"
          />
        </columns>
        <columns small="12" large="6">
          <img
          class="play-store"
            src="https://i.imgur.com/070kYei.png"
            alt="image of play-store"
          />
        </columns>
      </row>
    </columns>
  </row>
</container>

<!-- New Section of Footer -->

<!-- <container>
        <row class="footer-middle">
          <columns small="6" large="6">
            <row>
              <columns small="6" large="2">
                <img
                class="project-logo"
                  src="{{ root }}/assets/img/kayak_files/logo_circle.png"
                  alt="image of app logo"
                />
              </columns>
              <columns large="10">
                <span class="call-to-action">Download the app</span></br>
                <span class="info">Cheap flights, hotels, and more...</span>
              </columns>
            </row>
          </columns>
      
          <columns small="6" large="6">
            <row>
              <columns small="12" large="6">
                <img
                class="app-store"
                  src="{{ root }}/assets/img/kayak_files/appstore.png"
                  alt="image of app-store"
                />
              </columns>
              <columns small="12" large="6">
                <img
                class="play-store"
                  src="{{ root }}/assets/img/kayak_files/playstore.png"
                  alt="image of play-store"
                />
              </columns>
            </row>
          </columns>
        </row>
      </container> -->

      <container>
            <row class="footer-middle">
              <columns valign="middle">
                <img
                  src="https://i.imgur.com/B35xFTW.png"
                  class="logo_white"
                />
              </columns>
          
              <!-- <columns valign="middle">
                <img
                  src="{{ root }}/assets/img/kayak_files/facebook.png"
                  class="user_icon"
                />
                <img
                  src="{{ root }}/assets/img/kayak_files/twitter.png"
                  class="user_icon"
                />
                <img
                  src="{{ root }}/assets/img/kayak_files/instagram.png"
                  class="user_icon"
                />
              </columns> -->
              <columns small="6" large="6" class="large-offset-6">
                <row>
                  <columns small="4" large="4">
                    <img
                    src="https://i.imgur.com/p54T3iI.png"
                  class="user_icon float-center"
                    />
                  </columns>
                  <columns small="4" large="4">
                    <img
                    src="https://i.imgur.com/JOds0kH.png"
                  class="user_icon float-center"
                    />
                  </columns>
                  <columns small="4" large="4">
                    <img
                  src="https://i.imgur.com/fxJqlJW.png"
                  class="user_icon float-center"
                />
                  </columns>
                </row>
              </columns>

            </row>
          <hr>
            <row class="sub-footer-middle">
              <columns small="6">
                <a href="#"
                  ><img
                    src="https://i.imgur.com/2eBw72P.png"
                    class="icons float-left"
                  />Flights</a
                >
              </columns>
              <columns class="show-for-large" style="width: 1%;">
                <span style="display: block; height: 20px; width: 1px; background:white;">
                </span>
              </columns>
              <columns small="6">
                <a href="#"
                  ><img
                    src="https://i.imgur.com/CFPvZFs.png"
                    class="icons float-left"
                  />Hotels</a
                >
              </columns>
              <columns class="show-for-large" style="width: 1%;">
                <span style="display: block; height: 20px; width: 1px; background:white;">
                </span>
              </columns>
              <columns small="6">
                <a href="#"
                  ><img
                    src="https://i.imgur.com/GrFGLeF.png"
                    class="icons float-left"
                  />Cars</a
                >
              </columns>
              <columns class="show-for-large" style="width: 1%;">
                <span style="display: block; height: 20px; width: 1px; background:white;">
                </span>
              </columns>
              <columns small="6">
                <a href="#"
                  ><img
                    src="https://i.imgur.com/whVig9E.png"
                    class="icons float-left"
                  />Packages</a
                >
              </columns>
            </row>
          <hr>

          </container>

          <container>
                <row class="footer-bottom">
                        <columns>
                            
                          <row>
                              <column>
                              <a href="#">Unsubscribe</a>
                              <a href="#">Email Preferences</a>
                              <a href="#">Feedback</a>
                              <a href="#">Privacy Policy</a>
                            </column>
                          </row>
                        <row>
                            <columns><p>Prices, savings, and availability may vary. Additional restrictions may apply. Savings are not ensured. 
                                KAYAK does not sell tickets but provides a price comparison service. The deals in this newsletter were current at 
                                the time this email was published and subject to change based on date, time and availability, which may be extremely 
                                limited. KAYAK accepts no liability for inaccuracies arising from this or any other cause, including, but not limited 
                                to, expiration of deals and typographical error, we are not responsible for any loss, damages, or injury incurred by 
                                the deals herein. Unless otherwise specified, hotel prices are per night, based on double-occupancy rooms and do not 
                                include taxes and fees. Unless specified to be one-way (ow) or otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and fees. If in doubt, always consult the agent or company supplying the tickets.
                                Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not baggage fees or other fees 
                                charged directly by the airline for the included flight.
                                Cruise and car rental prices do not include taxes and fees. 
                                Please check the provider's webpage or contact the provider for additional details.</p></columns>
                        </row>
                        <row>
                                <columns class="copyright">
                                    Copyright @ Developed by <a href="https://www.nasirwatts.com">Nasir Watts</a> &copy; 2019
                                </columns>
                            </row>
                      </columns>
                    </row>
                </container>